ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}
.header {
	z-index: 5;
	position: absolute;
	/* position: relative; */
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	@media screen and (max-width: 768px) {
		padding-left: 31px;
		padding-right: 31px;
	}
}
.header__box {
	display: flex;
	align-items: center;
}

.header__list {
	display: flex;
	gap: 30px;
}

.header__link {
	/* display: none; */
	/* @media screen and (min-width: 768px) {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin-left: auto;
		margin-right: 20px;
		gap: 20px;
	} */
	/* @media screen and (min-width: 1200px) { */
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
	margin-right: 20px;
	gap: 40px;
	/* } */
}

.header__nav {
	/* display: none; */
	/* @media screen and (min-width: 768px) { */
	display: flex;
	/* } */
}

/* @import "../layouts/logo"; */

.header__item,
.header__tel {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	color: #ffffff;
	/* @include transition(color); */
}

.header__list .header__item:hover,
.header__list .header__item:focus {
	color: #ff6c00;
}
.header__tel:hover,
.header__tel:focus,
.header__tel:active {
	color: #ff6c00;
}
.header-btn {
	color: #555555;
}

/* HERO */
.container {
	/* @include mobile {
		padding: 0;
	} */

	/* @include tablet {
		display: flex;
		justify-content: space-between;
		padding-right: 0;
	} */

	/* @include desktop { */
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	/* } */
}

.hero__soc {
	/* display: none; */
	/* @media screen and (min-width: 768px) { */
	width: 100px;
	display: flex;
	align-items: flex-end;
	padding-left: 40px;
	padding-bottom: 58px;
}

.hero__list {
	display: flex;
	transform: rotate(-90deg) translateY(100%);
	transform-origin: bottom left;
	align-items: center;
	gap: 40px;
}

.hero__list::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: #303030;
}

.hero__item .hero__link {
	font-family: inherit;
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;

	color: #303030;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__link:hover,
.hero__link:focus,
.hero__link:active {
	color: #ff6c00;
}
.pre-title {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 20px;
}

.pre-title::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: currentColor;
}

.pre-title--grey {
	color: rgba(157, 164, 189, 0.6);
}

.hero__title {
	margin-bottom: 20px;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 700;
	/* font-size: 40px; */
	line-height: 1.18;
	letter-spacing: 0.05em;
	/* color: #ffffff; */
	color: #ff6c00;

	/* @media screen and (min-width: 480px) {
		font-size: 48px;
	} */

	/* @media screen and (min-width: 1200px) { */
	font-size: 72px;
	/* }  */
}

.hero__after-title {
	/* width: 335px; */
	/* font-size: 16px; */
	/* line-height: 1.62; */
	letter-spacing: 0.02em;

	color: #9da4bd;

	/* @media screen and (min-width: 768px) { */
	font-size: 18px;
	line-height: 1.67;
	/* width: 370px; */
	/* } */
	/* @media screen and (min-width: 1200px) { */
	width: 360px;
	/* } */
}
.hero__content {
	position: absolute;
	/* background: linear-gradient(rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2)); */
	pointer-events: none;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 272px 100px 208px 100px;

	/* @include mobile {
		@include flex;
		flex-direction: column;
	}

	@include tablet {
		padding: 272px 111px 237px 111px;
		flex-grow: 1;
	}

	@include desktop {
		padding: 272px 100px 208px 100px;
	} */
}
.content {
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100px;

	overflow: hidden;

	/* width: 100%;
	height: 100%; */
}
/* -- SLIDER -- */

.bg-slider {
	/* background: url(../img/slides/image1.jpg) no-repeat center center fixed; */
	/* background-color: red; /* demo purpose only */
	/* -webkit-background-size: cover; */
	/* -moz-background-size: cover; */
	/* -o-background-size: cover; */
	background-image: url(../img/slider-1/slide1desk.jpg);
	background-size: cover;
}
.bg-slider:nth-child(2) {
	/* background: green; */
	background-image: url(../img/slider-1/slide2desk.jpg);
}
.bg-slider:nth-child(3) {
	/* background: blue; */
	background-image: url(../img/slider-1/slide3desk.jpg);
}
/* -- SLIDER - NAVEGATION DOTS -- */
.nav-wrapper {
	position: absolute;
	bottom: 20px;
	min-width: 250px;
	padding: 4px;
	width: calc(100% - 8px);
	text-align: center;
}

.nav-dots {
	margin: 0px 8px;
	display: inline-block;
}

.nav-dots div {
	float: left;

	width: 12px;
	height: 12px;
	margin: 4px 18px;

	cursor: pointer;

	border-radius: 50%;
	background: rgba(255, 255, 255, 0.5);
}

.nav-dots .current:after {
	float: left;

	width: 12px;
	height: 12px;

	content: "";

	border-radius: 50%;
	background: rgb(101, 24, 24);
}
